extends layout

block content

  h1 Brand: #{brand.name}
  p #{brand.founded}

  div(style='margin-left:20px;margin-top:20px')

    h4 Watches

    dl
      each watch in brand_watches
        dt
          a(href=watch.url) #{watch.name}
        dd #{watch.name}

      else
        p This brand has no watches.
