extends layout

block content

  h1 Brand: #{brand.brand_name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Watches

    dl
      each watch in brand_watches
        dt
          a(href=watch.url) #{watch.name}

      else
        p This brand has no watches.
    hr
    p
      a(href=brand.url+'/delete') Delete brand
    p
      a(href=brand.url+'/update') Update brand
