extends layout

block content

  h1 Category: #{category.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Watches

    dl
      each watch in category_watches
        dt
          a(href=watch.url) #{watch.name}
        dd #{watch.year}
        dd #{watch.reference}
        dd #{watch.price}

      else
        p This category has no watches
