extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of watch' name='name' required='true' value=(undefined===watch ? '' : watch.name) )
    div.form-group
      label(for='brand') Brand:
      select#brand.form-control(type='select', placeholder='Select brand' name='brand' required='true' )
        - brands.sort(function(a, b) {let textA = a.brand_name.toUpperCase(); let textB = b.brand_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for brand in brands
          if watch
            option(value=brand._id selected=(brand._id.toString()===watch.brand._id.toString() ? 'selected' : false) ) #{brand.brand_name}
          else
            option(value=brand._id) #{brand.brand_name}
    div.form-group
      label(for='year') Year:
      textarea#year.form-control(type='textarea', placeholder='Year' name='year' required='true') #{undefined===watch ? '' : watch.year}
    div.form-group
      label(for='reference') Reference:
      input#reference.form-control(type='text', placeholder='Reference' name='reference' value=(undefined===watch ? '' : watch.reference) required='true')
    div.form-group
      label(for='price') Price:
      input#price.form-control(type='text', placeholder='Price' name='price' value=(undefined===watch ? '' : watch.price) required='true')
    div.form-group
      label Category:
      div
        - for (let i = 0; i < categories.length; i++)
          - const category = categories[i]
          div(style='display: inline; padding-right:10px;')
            input.radio-input(type='radio', style='margin-right: 5px;', name='category', id=category._id, value=category._id )
            label(for=category._id) #{category.name}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
